/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Meyers Reset END */

body {
    --text-color: #023e8a;

    background: #ade8f4;
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--text-color);
}

header {
    font-size: 3em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn > button {
    border: 0px;
    width: 125px;
    height: 45px;
    border-radius: 20px;
    background: #90e0ef;
    border: 2px solid #48cae4;
    margin-top: 2px;
    color: var(--text-color);
}

/* https://coolors.co/palettes/popular/turquoise */

/* Books div style */

main {
    display: grid;
    grid-template: min-content / repeat(auto-fit, 250px);
    gap: 20px;
    justify-content: center;
    grid-auto-rows: 200px;
    font-size: 1.3em;
}

main > div {
    background: #90e0ef;
    border: 2px solid #48cae4;
    padding: 10px;
    display: grid;
    grid-template: min-content 20px / 1fr min-content;
    gap: 10px;
}

main > div > button {
    display: flex;
    background: none;
    border: 2px solid red;
    border: none;
    justify-self: end;
    padding: 0px;
    align-items: center;
    gap: 4px;
    color: var(--text-color);
}

.borders {
    padding: 10px 0px;
    border-top: 0.5px solid #023e8a;
    border-bottom: 0.5px solid #023e8a;
}

.trash {
    grid-column-start: 2;
    display: flex;
    align-items: start;
    justify-content: center;
}

.status {
    grid-column: span 2;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-around;
}
